.cardContainer
  display: flex
  gap: 20px
  padding: 20px
  list-style: none
  margin: 0
  flex-wrap: wrap
  flex-direction: column

.card
  position: relative
  width: 329px
  height: 279px
  cursor: pointer
  transition: all 0.3s ease

  &.cardHidden
    opacity: 0
    transform: scale(0.9)
    pointer-events: none

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    pointer-events: none
    z-index: 2
    opacity: 0
    transition: opacity 0.3s ease
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='329' height='279' viewBox='0 0 329 279' fill='none'%3E%3Cpath d='M0 16.292V262.708C0 271.706 7.14171 279 15.9515 279H56.999C59.0957 279 61.1719 278.578 63.1087 277.758L87.292 267.516C89.2288 266.696 91.305 266.274 93.4018 266.274H243.856C246.412 266.274 248.932 266.901 251.201 268.104L268.314 277.17C270.584 278.372 273.103 279 275.659 279H313.048C321.858 279 329 271.706 329 262.708V16.292' stroke='%2301B0C7' stroke-width='2' fill='none'/%3E%3C/svg%3E") no-repeat center
    background-size: contain

  &:hover
    &::before
      opacity: 1

    .iconWrapper svg
      filter: drop-shadow(0 0 10px #01B0C7) drop-shadow(0 0 20px #01B0C7)
      
      path
        fill: #DAE8FF

    .svgFrame
      filter: drop-shadow(0 0 8px rgba(1, 176, 199, 0.4))

.svgFrame
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  pointer-events: none
  z-index: 0
  transition: filter 0.3s ease

.content
  position: relative
  z-index: 1
  padding: 15px
  height: 100%
  display: flex
  flex-direction: column

.header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 50px
  position: relative
  min-height: 55px

.title
  font-family: 'Iceland', sans-serif
  font-size: 26px
  color: white
  letter-spacing: 2px
  margin: 0

.iconWrapper
  position: absolute
  height: 60px
  top: 10px
  right: 10px
  transition: all 0.3s ease

  svg
    transition: all 0.3s ease
    
    path
      transition: fill 0.3s ease

.description
  padding: 8px 0
  justify-content: center
  align-items: center
  gap: 5px
  align-self: stretch
  border-radius: 8px
  background: #1A1A1A
  margin-bottom: 10px

.descriptionText
  font-family: 'Rajdhani', sans-serif
  font-size: 14px
  color: white
  margin: 0
  line-height: 1.4
  text-align: center
  padding: 0 10px

.statsContainer
  display: flex
  flex-direction: column
  gap: 14px

.statItem
  display: flex
  justify-content: space-between
  align-items: center

.statLabel
  font-family: 'Rajdhani', sans-serif
  font-size: 15px
  font-weight: 700
  color: #EBEBEB

.statBar
  position: relative
  width: 180px
  height: 15px
  border-radius: 6px
  overflow: hidden
  clip-path: polygon(
    14px 0,
    calc(100% - 14px) 0,
    100% 100%,
    0 100%
  )

.statFill
  height: 100%
  background: #FFFFFF
  display: flex
  align-items: center
  padding-left: 20px
  transition: width .25s ease
  clip-path: polygon(
    14px 0,
    calc(100% - 14px) 0,
    100% 100%,
    0 100%
  )

.statValue
  font-family: 'Rajdhani', sans-serif
  font-size: 13px
  font-weight: 700
  color: #000
  pointer-events: none