.cardContainer
  display: flex
  gap: 20px
  padding: 20px
  flex-wrap: wrap
  flex-direction: column

.card
  position: relative
  width: 329px
  height: 279px
  cursor: pointer



.svgFrame
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  pointer-events: none
  z-index: 0


.content
  position: relative
  z-index: 1
  padding: 15px
  height: 100%
  display: flex
  flex-direction: column

.header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 50px
  position: relative
  min-height: 55px

.title
  font-family: 'Iceland', sans-serif
  font-size: 17px
  color: white
  letter-spacing: 2px
  margin: 0

.iconWrapper
  position: absolute
  height: 60px
  top: 10px
  right: 10px

.description
  padding: 8px 0
  justify-content: center
  align-items: center
  gap: 5px
  align-self: stretch
  border-radius: 8px
  background: #1A1A1A
  margin-bottom: 10px

.descriptionText
  font-family: 'Rajdhani', sans-serif
  font-size: 14px
  color: white
  margin: 0
  line-height: 1.4
  text-align: center
  padding: 0 10px


.statsContainer
  display: flex
  flex-direction: column
  gap: 14px

.statItem
  display: flex
  justify-content: space-between
  align-items: center

.statLabel
  font-family: 'Rajdhani', sans-serif
  font-size: 15px
  font-weight: 700
  color: #EBEBEB

.statBar
  position: relative
  width: 180px
  height: 15px
  border-radius: 6px
  overflow: hidden
  clip-path: polygon(
    14px 0,
    calc(100% - 14px) 0,
    100% 100%,
    0 100%
  )

.statFill
  height: 100%
  background: #FFFFFF
  display: flex
  justify-content: center
  align-items: center
  transition: width .25s ease
  clip-path: polygon(
    14px 0,
    calc(100% - 14px) 0,
    100% 100%,
    0 100%
  )


.statValue
  font-family: 'Rajdhani', sans-serif
  font-size: 13px
  font-weight: 700
  color: #000
  pointer-events: none
