.interactionWrapper
  position: fixed
  top: 30%               
  right: 80px            
  transform: translateY(-50%)
  display: flex
  justify-content: center
  align-items: center
  gap: 29px
  width: 370px
  z-index: 5        

.greetingText
  color: #FFF;
  font-family: Rajdhani;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0

.greetingTextBlock
    width: 201px