@import './animations'


*
  box-sizing: border-box
body
  font-family: 'Rajdhani', sans-serif
  margin: 20px 0
  background-color: #1A1A1A
  color: #111
  width: 100vw
  min-height: 100vh


h1, h2, h3
  font-family: 'Rajdhani'
  font-style: medium
  font-weight: 500  
  margin: 0px