.heroContainer
    padding: 0 26px
    height: 100vh
    background-image: url('../../assets/images/HeroBackground.svg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative

.heroTitle
    margin-left: 30px
    color: #FFF
    font-family: 'Iceland', sans-serif
    font-size: 48px
    letter-spacing: 3px

.heroInfo
    width: 100%
    max-width: 1200px
    display: flex
    justify-content: center
    align-items: center
    gap: 20px

.leftInfoCard
    width: 430px
    height: 529px
    align-items: flex-end;
    // background: rgba(42, 42, 42, 0.8)
    // border: 2px solid rgba(95, 141, 255, 0.4)
    //clip-path: polygon(20px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%, 0% 20px)
    //padding: 30px
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    display: flex
    flex-direction: column
    gap: 95px
    
    &.slideLeft
        transform: translateX(-100px)

.rightInfoCard
    width: 430px
    height: 529px
    // background: rgba(42, 42, 42, 0.8)
    // border: 2px solid rgba(95, 141, 255, 0.4)
    // clip-path: polygon(20px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%, 0% 20px)
    // padding: 30px
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    display: flex
    flex-direction: column
    gap: 130px

    &.slideRight
        transform: translateX(100px)

// Service Record стили
.serviceList
    display: flex
    flex-direction: column
    gap: 0
    list-style: none
    padding: 0
    margin: 0

.serviceRow
    display: flex
    gap: 15px
    padding: 10px 0
    border-bottom: 1px solid rgba(95, 141, 255, 0.2)
    list-style: none

.serviceLabel
    font-family: 'Iceland', sans-serif
    font-size: 18px
    font-weight: 400
    color: #EBEBEB
    min-width: 150px

.serviceValue
    font-family: 'Iceland', sans-serif
    font-size: 18px
    font-weight: 400
    color: #A8C7FF
    text-transform: uppercase
    letter-spacing: 1px

// Personal Directive стили
.directiveSection
    margin-top: 20px
    display: flex
    flex-direction: column
    gap: 15px

.directiveHeader
    display: flex
    align-items: center
    gap: 10px
    margin-bottom: 10px
    
    h3
        font-family: 'Iceland', sans-serif
        font-size: 20px
        font-weight: 400
        color: #EBEBEB
        margin: 0

// .directiveIcon
//     width: 20px
//     height: 20px
//     color: #A8C7FF

.directiveList
    display: flex
    flex-direction: column
    gap: 12px
    padding: 0
    position: relative
    list-style: none
    margin: 0

.directiveItem
    position: relative
    list-style: none

.directiveBar
    background: linear-gradient(90deg, #A8C7FF 0%, #A8C7FF 100%)
    padding: 10px 20px
    clip-path: polygon(10px 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%)
    font-family: 'Rajdhani', sans-serif
    font-size: 16px
    font-weight: 400
    color: #000
    text-align: center
    transition: all 0.3s ease

    &:hover
        background: linear-gradient(90deg, #85aaee 0%, #6f97e1 100%)
        transform: translateX(5px)
 
.cardHeader
    background:  #A8C7FF
    padding: 12px 20px
    clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%);
    width: 250px
    
    h3
        font-family: 'Iceland', sans-serif
        font-size: 22px;
        letter-spacing: 2px
        color: #000;
        margin: 0
        text-align: right;

.leftTopBlock
    display: flex;
    flex-direction: column;
    gap: 15px;

.leftBottomBlock
    display: flex
    flex-direction: column
    min-width: 416px;
    gap:15px;
    align-items: flex-end;
    border-radius: 4px;
    background: #2D2D2D;
    clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
    padding: 6px;

    


.cardContent
    width: 100%
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px
    list-style: none
    padding: 6px;
    // border-radius: 4px;
    // background: #2D2D2D;
    margin: 0;

    &.cardContentTop
        border-radius: 4px;
        background: #2D2D2D;
        padding: 10px;

.infoRow
    display: flex
    align-items: center
    justify-content: space-between
    width: 75%
    gap: 15px
    list-style: none
    
.infoIcon
    width: 24px
    height: 24px
    color: #A8C7FF

.infoText
    font-family: 'Rajdhani', sans-serif
    font-size: 18px
    color: #EBEBEB
    margin: 0

.knowledgeItem
    display: flex
    align-items: center
    gap: 15px
    padding: 10px 0
    border-bottom: 1px solid rgba(95, 141, 255, 0.2)
    list-style: none
    
    &:last-child
        border-bottom: none

.knowledgeLine
    flex: 1
    height: 2px
    background: linear-gradient( #DAE8FF 100%)
    position: relative
    
    &::after
        content: ''
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        width: 8px
        height: 8px
        background: #5F8DFF
        border-radius: 50%

.knowledgeText
    font-family: 'Rajdhani', sans-serif
    font-size: 18px
    color: #EBEBEB
    margin: 0
    min-width: 200px
    text-align: right

.sergeImage
    width: 150px
    height: 231px
    opacity: 0
    transform: scale(0.9)
    transition: opacity 0.6s ease, transform 0.6s ease
    object-fit: cover
    object-position: center
    flex-shrink: 0
    border: 2px solid rgba(1, 176, 199, 0.6)

    &.fadeIn
        opacity: 1
        transform: scale(1)