.container
  width: 100%
  padding-top: 30px

.wrapper
  display: flex
  align-items: center
  justify-content: flex-start
  margin-left: 580px
  opacity: 1
  transition: opacity 0.5s ease

  &.exiting
    opacity: 0

.cursor
  font-weight: bold
  animation: blink 1s step-start infinite
  line-height: 1
  color: white
  flex-shrink: 0
  font-size: 20px

.text
  margin-left: 2px
  color: #FFF
  text-align: center
  font-family: Rajdhani
  font-size: 16px
  font-weight: 400
  text-transform: uppercase

@keyframes blink
  50%
    opacity: 0