.container
  width: 100%
  padding-top: 60px

.wrapper
  display: flex
  align-items: center
  justify-content: flex-start
  margin-left: 550px

.cursor
  font-weight: bold
  animation: blink 1s step-start infinite
  line-height: 1
  color: white
  flex-shrink: 0

.text
  margin-left: 2px
  font-size: 1.2rem
  line-height: 1
  white-space: nowrap
  color: white
  text-align: left

@keyframes blink
  50%
    opacity: 0